.transactionhistory {
  text-align: center;
  margin: 0 auto;
  min-width: 300px;
  background-color: transparent;
}

.tablehead {
  background-color: #40a6ff;
  padding: 5px;
}

.tablerow {
  padding: 5px;
}

.tablerow:nth-child(even) {
  background-color: #f7f7f7;
}

.tablerow:nth-child(odd) {
  background-color: #dedede;
}

.tablebody {
  padding: 5px;
}
